In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

In [3]:
training_data = pd.read_csv("train.csv")
testing_data = pd.read_csv("test.csv")

In [5]:
training_data.columns

Index(['Id', 'MSSubClass', 'MSZoning', 'LotFrontage', 'LotArea', 'Street',
       'Alley', 'LotShape', 'LandContour', 'Utilities', 'LotConfig',
       'LandSlope', 'Neighborhood', 'Condition1', 'Condition2', 'BldgType',
       'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt', 'YearRemodAdd',
       'RoofStyle', 'RoofMatl', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'ExterQual', 'ExterCond', 'Foundation', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtFinType2', 'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'Heating',
       'HeatingQC', 'CentralAir', 'Electrical', '1stFlrSF', '2ndFlrSF',
       'LowQualFinSF', 'GrLivArea', 'BsmtFullBath', 'BsmtHalfBath', 'FullBath',
       'HalfBath', 'BedroomAbvGr', 'KitchenAbvGr', 'KitchenQual',
       'TotRmsAbvGrd', 'Functional', 'Fireplaces', 'FireplaceQu', 'GarageType',
       'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea', 'GarageQual',
       'GarageCond', 'PavedDrive', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'PoolQC',
       'Fence', 'MiscFeature', 'MiscVal', 'MoSold', 'YrSold', 'SaleType',
       'SaleCondition', 'SalePrice'],
      dtype='object')

In [12]:
y = training_data.SalePrice

In [13]:
Features_Of_Interest = ['LotArea','1stFlrSF','2ndFlrSF','FullBath','HalfBath','BedroomAbvGr','KitchenAbvGr','Fireplaces','MiscVal']
X = training_data[Features_Of_Interest]

In [14]:
X.describe()

,LotArea,1stFlrSF,2ndFlrSF,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,Fireplaces,MiscVal
count,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,10516.828082,1162.626712,346.992466,1.565068,0.382877,2.866438,1.046575,0.613014,43.489041
std,9981.264932,386.587738,436.528436,0.550916,0.502885,0.815778,0.220338,0.644666,496.123024
min,1300.000000,334.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,7553.500000,882.000000,0.000000,1.000000,0.000000,2.000000,1.000000,0.000000,0.000000
50%,9478.500000,1087.000000,0.000000,2.000000,0.000000,3.000000,1.000000,1.000000,0.000000
75%,11601.500000,1391.250000,728.000000,2.000000,1.000000,3.000000,1.000000,1.000000,0.000000
max,215245.000000,4692.000000,2065.000000,3.000000,2.000000,8.000000,3.000000,3.000000,15500.000000

In [15]:
X.head()

,LotArea,1stFlrSF,2ndFlrSF,FullBath,HalfBath,BedroomAbvGr,KitchenAbvGr,Fireplaces,MiscVal
0,8450,856,854,2,1,3,1,0,0
1,9600,1262,0,2,0,3,1,1,0
2,11250,920,866,2,1,3,1,1,0
3,9550,961,756,1,0,3,1,1,0
4,14260,1145,1053,2,1,4,1,1,0

In [16]:
from sklearn.tree import DecisionTreeRegressor

In [17]:
training_data_model = DecisionTreeRegressor(random_state=1)
training_data_model.fit(X, y)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=1, splitter='best')

In [18]:
print("Predictions for the first 5 houses:")
print(X.head())
print("The predictions are:")
print(training_data_model.predict(X.head()))

Making predictions for the following 5 houses:
   LotArea  1stFlrSF  2ndFlrSF  FullBath  HalfBath  BedroomAbvGr  \
0     8450       856       854         2         1             3
1     9600      1262         0         2         0             3
2    11250       920       866         2         1             3
3     9550       961       756         1         0             3
4    14260      1145      1053         2         1             4

   KitchenAbvGr  Fireplaces  MiscVal
0             1           0        0
1             1           1        0
2             1           1        0
3             1           1        0
4             1           1        0
The predictions are
[208500. 181500. 223500. 140000. 250000.]

In [19]:
from sklearn.metrics import mean_absolute_error

In [20]:
predicted_training_data_home_prices = training_data_model.predict(X)
mean_absolute_error(y, predicted_training_data_home_prices)

100.65342465753425

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 0)
training_data_model.fit(train_X, train_y)
predicted_values = training_data_model.predict(val_X)
print(mean_absolute_error(val_y, predicted_values))

34027.08219178082

In [23]:
from sklearn.ensemble import RandomForestRegressor

In [32]:
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

In [33]:
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  38157
Max leaf nodes: 50  		 Mean Absolute Error:  31159
Max leaf nodes: 500  		 Mean Absolute Error:  34196
Max leaf nodes: 5000  		 Mean Absolute Error:  34869

In [34]:
#
forest_model = RandomForestRegressor(random_state=1)
forest_model.fit(train_X, train_y)
training_data_forest_predictions = forest_model.predict(val_X)
print(mean_absolute_error(val_y, training_data_forest_predictions))
#

28952.56518721461

In [35]:
X_testing_data = testing_data[Features_Of_Interest]

In [36]:
predicted_test_file_prices_basic = training_data_model.predict(X_testing_data)

In [37]:
print(predicted_test_file_prices_basic)

[130000. 145250. 179900. ...  84500. 111000. 274300.]

In [38]:
predicted_test_file_prices_forest = forest_model.predict(X_testing_data)

In [39]:
print(predicted_test_file_prices_forest)

[120140.  135880.  197700.  ... 132840.  105849.3 248465. ]

In [41]:
first_submission = pd.DataFrame({'Id': testing_data.Id, 'SalePrice': predicted_test_file_prices_basic})
first_submission.to_csv('first_submission.csv', index=False)

second_submission = pd.DataFrame({'Id': testing_data.Id, 'SalePrice': predicted_test_file_prices_forest})
second_submission.to_csv('second_submission.csv', index=False)